* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: black;
}

#gameContainer {
    display: inline-block;
    position: relative;
}

#overlappingDiv {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

#dpad {
    z-index: 100;
    position: absolute;
    left: 25;
    bottom: 25;
    z-index: 9;
}

#dpadBack {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#dpadFront {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    gap: .5px;
    grid-template-columns: repeat(3, 1fr);
}

.dpadSq {
    width: 52.3px;
    height: 52.3px;
}

.dpadSq button {
    width: 100%;
    height: 100%;
    opacity: 0;
}

#battleUI {
    display: none;
}

h1 {
    margin: 0;
    font-size: 16px;
}

button {
    border: 0;
    font-size: 16px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#attackMenu {
    background-color: white;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px black solid;
    display: flex;
}

#battleDialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 12px;
    display: none;
    cursor: pointer;
}

#attackTypeDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-left: 4px black solid;
}

#runDiv {
    width: 8.33%;
    border-left: 4px black solid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#attacksBox {
    width: 66.66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hpMenu {
    background-color: white;
    width: 250;
    position: absolute;
    border: 4px black solid;
    padding: 12;
    padding-bottom: 16;
    height: auto;
}

.hpBar {
    position: relative;
}

#enemyHPBar,
#myHPBar {
    height: 5px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.backHPBar {
    height: 5px;
    background-color: red;
    margin-top: 10px;
}

.hpNum h3 {
    margin: 0;
    margin-right: 20;
    margin-bottom: 5;
    font-size: 10px;
    position: absolute;
    right: 0;
    align-content: end;
    height: 25px;
}